* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #17496b;
  color: rgba(#fff, 0.6);

  font-family: Helvetica;
  font-size: 12px;
  text-align: center;

  margin: 0;
}

a {
  color: #5bc39c;
}

.wrapper {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;

  span.preamble {
    color: rgba(#fff, 0.2);
    font-size: 12px;
    font-weight: normal;
  }
  span.title {
    display: block;
    font-size: 84px;
    line-height: 84px;
    color: #79bd9a;
    text-shadow: 
      0 1px #3b8686, 
      0 2px darken(#3b8686, 1%), 
      0 3px darken(#3b8686, 2%), 
      0 4px darken(#3b8686, 3%), 
      0 5px darken(#3b8686, 4%), 
      0 6px darken(#3b8686, 5%), 
      0 7px darken(#3b8686, 6%), 
      0 8px darken(#3b8686, 7%), 
      0 10px 12px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 480px) {
    span.title{
      font-size: 36px;
      line-height: 36px;
      text-shadow: 
        0 1px #3b8686, 
        0 2px darken(#3b8686, 1%), 
        0 3px darken(#3b8686, 2%), 
        0 4px darken(#3b8686, 3%), 
        0 5px 6px rgba(0, 0, 0, 0.3);
    }
  }
}

.babygoat {
  max-height: 100%;
  max-width: 100%;
  display: inline-block;

  img {
    border: 10px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    max-width: 100%;
  }
  figcaption {
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    margin: 10px 0;
    a {
      color: rgba(#fff, 0.3);
    }
  }
}

.reload-button {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  background-color: #ed7f83;
  color: rgba(#fff, 0.9);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background-color: darken(#ed7f83, 5%);
  }
  &:active {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

footer {
  margin-top: 20px;
  padding-top: 20px;

  font-size: 12px;
  line-height: 18px;

  p {
    margin-bottom: 0;
  }
}