* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #17496b;
  color: rgba(255, 255, 255, 0.6);
  font-family: Helvetica;
  font-size: 12px;
  text-align: center;
  margin: 0; }

a {
  color: #5bc39c;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.2s; }

.wrapper {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto; }

h1 {
  margin-bottom: 20px; }
  h1 span.preamble {
    color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    font-weight: normal; }
  h1 span.title {
    display: block;
    font-size: 84px;
    line-height: 84px;
    color: #79bd9a;
    text-shadow: 0 1px #3b8686, 0 2px #398282, 0 3px #387f7f, 0 4px #367b7b, 0 5px #357878, 0 6px #337474, 0 7px #327171, 0 8px #306d6d, 0 10px 12px rgba(0, 0, 0, 0.5); }
  @media (max-width: 480px) {
    h1 span.title {
      font-size: 36px;
      line-height: 36px;
      text-shadow: 0 1px #3b8686, 0 2px #398282, 0 3px #387f7f, 0 4px #367b7b, 0 5px 6px rgba(0, 0, 0, 0.3); } }

.babygoat {
  max-height: 100%;
  max-width: 100%;
  display: inline-block; }
  .babygoat img {
    border: 10px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    max-width: 100%; }
  .babygoat figcaption {
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    margin: 10px 0; }
    .babygoat figcaption a {
      color: rgba(255, 255, 255, 0.3); }
      .babygoat figcaption a:hover {
        color: rgba(255, 255, 255, 0.5); }

.reload-button {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  background-color: #ed7f83;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition-property: background-color;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
  .reload-button:hover {
    background-color: #ea696d; }

footer {
  color: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  padding-top: 20px;
  font-size: 12px;
  line-height: 18px; }
  footer p {
    margin-bottom: 0; }
  footer a {
    color: rgba(255, 255, 255, 0.3); }
    footer a:hover {
      color: rgba(255, 255, 255, 0.5); }
