doctype html
html
  head
    title babygoat.me
    link(rel="stylesheet", href="http://s.liamc.org/babygoat/style.css")
  body
    .wrapper
      header
        h1 
          span.preamble holy crap it&rsquo;s a 
          span.title BABY GOAT!
      .container
        figure.babygoat
          img(src="#{image}")
          figcaption #[a(href="#{source}") Source]

        p
          a.reload-button(onclick="location.reload(false)") Another One!
      footer A #[a(href="http://twitter.com/liamdanger") @liamdanger] joint