doctype html
html
  head
    title babygoat.me
    link(rel='stylesheet', href='/style.css')
  body
    header
      h1 Oh my god it's a BABY GOAT
    .container
      img(src='#{babygoat}')
    footer
      p 